In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-11-11 00:37:21,42.6001,-73.9662,57.58,74,9,2.80
1,1,Irpa Irpa,BO,2022-11-11 00:40:47,-17.7167,-66.2667,69.80,50,37,5.95
2,2,Sur,OM,2022-11-11 00:40:47,22.5667,59.5289,76.05,70,5,2.33
3,3,Barrow,US,2022-11-11 00:40:09,71.2906,-156.7887,26.62,93,75,19.57
4,4,Katsuura,JP,2022-11-11 00:40:48,35.1333,140.3000,67.51,57,0,15.01

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Sur,OM,2022-11-11 00:40:47,22.5667,59.5289,76.05,70,5,2.33
9,9,Guabito,PA,2022-11-11 00:40:49,9.5000,-82.6167,79.05,89,100,2.39
13,13,Meulaboh,ID,2022-11-11 00:40:50,4.1363,96.1285,75.97,89,100,4.47
17,17,Mataura,NZ,2022-11-11 00:40:51,-46.1927,168.8643,77.11,34,0,0.22
20,20,Tucuman,AR,2022-11-11 00:40:15,-26.8241,-65.2226,82.40,39,20,12.66
34,34,Kavieng,PG,2022-11-11 00:40:54,-2.5744,150.7967,82.31,75,88,4.72
35,35,Sao Filipe,CV,2022-11-11 00:40:55,14.8961,-24.4956,77.34,72,100,6.13
38,38,Namatanai,PG,2022-11-11 00:40:55,-3.6667,152.4333,84.43,71,95,7.96
39,39,Butaritari,KI,2022-11-11 00:40:56,3.0707,172.7902,81.36,78,16,18.41
40,40,Port Moresby,PG,2022-11-11 00:39:57,-9.4431,147.1797,89.02,55,20,11.50

In [17]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2            Sur      OM     76.05  22.5667   59.5289
9        Guabito      PA     79.05   9.5000  -82.6167
13      Meulaboh      ID     75.97   4.1363   96.1285
17       Mataura      NZ     77.11 -46.1927  168.8643
20       Tucuman      AR     82.40 -26.8241  -65.2226
34       Kavieng      PG     82.31  -2.5744  150.7967
35    Sao Filipe      CV     77.34  14.8961  -24.4956
38     Namatanai      PG     84.43  -3.6667  152.4333
39    Butaritari      KI     81.36   3.0707  172.7902
40  Port Moresby      PG     89.02  -9.4431  147.1797

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sur,OM,76.05,22.5667,59.5289,Sur Plaza Hotel
9,Guabito,PA,79.05,9.5000,-82.6167,Cabinas Sanchez Salazar
13,Meulaboh,ID,75.97,4.1363,96.1285,Kost Pria
17,Mataura,NZ,77.11,-46.1927,168.8643,Ellie's Villa
20,Tucuman,AR,82.40,-26.8241,-65.2226,Hotel Premier
34,Kavieng,PG,82.31,-2.5744,150.7967,Nusa Island Retreat
35,Sao Filipe,CV,77.34,14.8961,-24.4956,Hotel Xaguate
38,Namatanai,PG,84.43,-3.6667,152.4333,Seagulls Inn Namatani
39,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
40,Port Moresby,PG,89.02,-9.4431,147.1797,Lamana Hotel (Port Moresby)

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))